* {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

.generalContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px; }

/*begins Header*/
.responsive__icono {
  width: 2rem;
  height: 2rem; }

header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FFFFFF;
  justify-content: space-around;
  margin-bottom: 35px; }
  header .label__menu {
    display: none;
    width: 30px;
    height: 30px;
    padding: 30px; }
  header .search__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    header .search__list--box {
      outline: none;
      border: none;
      border-bottom: 1px solid #8B7587;
      padding: 10px;
      padding-left: 20px;
      background: white url(../img/search__header.png) no-repeat 2px center;
      background-size: 12px;
      font-size: 13px; }
      header .search__list--box ::placeholder {
        color: #8B7587;
        font-size: 5px; }
    header .search__list--img {
      width: 2rem;
      height: 2rem;
      margin-left: 30px;
      margin-top: 10px; }

#btn-menu {
  display: none; }

header .label__menu:hover {
  cursor: pointer; }

.header__menu .header__lista {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between; }

.header__menu .header__lista .header__lista--item:hover a {
  padding-bottom: 5px; }

.header__menu .header__lista--item a {
  display: block;
  padding: 10px;
  color: #8B7587;
  text-decoration: none;
  text-align: center;
  font-size: 13px; }

.carousel-item img {
  width: 100%;
  height: 600px; }

.complement {
  width: 40%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 105px; }
  .complement__container {
    margin-bottom: 40px; }
  .complement__info {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    color: #8B7587; }

.shop__title {
  text-align: center;
  width: 100%;
  padding: 20px; }

.collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .collection__showing {
    width: 50%;
    position: left; }
  .collection__list {
    width: 50%;
    text-align: right; }
  .collection .cards {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
    justify-content: center; }
    .collection .cards .collection__card {
      width: 25%;
      height: 430px;
      margin-right: 40px;
      margin-left: 40px; }
      .collection .cards .collection__card img {
        width: 100%;
        height: 65%; }
      .collection .cards .collection__card p {
        text-align: center; }

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .row__card {
    width: 30%;
    height: 100%;
    padding: 15px; }
    .row__card .details img {
      width: 100%;
      height: 50%; }
    .row__card .details p {
      text-align: center; }

@media (max-width: 768px) {
  header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to bottom, #B3FFFF, white);
    justify-content: flex-start; }
  header .label__menu {
    display: block; }
  .vacio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    padding-left: 0px;
    margin-top: 9px; }
  .header__menu {
    position: absolute;
    background-image: linear-gradient(to bottom, #B3FFFF, white);
    width: 100%;
    margin-top: 260px;
    margin-left: -200%;
    transition: all 0.5s; }
  .header__menu .header__lista {
    flex-direction: column;
    display: flex;
    justify-content: flex-start; }
  .header__menu .header__lista--item a {
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
    text-align: center; }
  .header__menu .header__lista--item {
    border-bottom: 1px solid black;
    border-right: 1px solid black; }
  .header__lista--alter {
    border-top: 1px solid black; }
  #btn-menu:checked ~ .header__menu {
    margin: 0;
    margin-top: 260px; } }
